In [2]:
import numpy as np
import pandas as pd

!pip install -U scikit-learn

from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error, r2_score, mean_squared_error

Requirement already satisfied: scikit-learn in /home/ubuntu/tradingbot-env/lib/python3.10/site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/tradingbot-env/lib/python3.10/site-packages (from scikit-learn) (1.23.2)
Requirement already satisfied: joblib>=1.1.1 in /home/ubuntu/tradingbot-env/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ubuntu/tradingbot-env/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /home/ubuntu/tradingbot-env/lib/python3.10/site-packages (from scikit-learn) (1.9.2)

In [3]:
!wget -nc https://lazyprogrammer.me/course_files/SPY.csv

--2023-03-01 09:28:03--  https://lazyprogrammer.me/course_files/SPY.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 172.67.213.166, 104.21.23.210, 2606:4700:3031::6815:17d2, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|172.67.213.166|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2023-03-01 09:28:03 ERROR 403: Forbidden.

In [4]:
df = pd.read_csv('SPY.csv', index_col='Date', parse_dates=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [5]:
df['ClosePrediction'] = df['Close'].shift(1)
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [6]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

# Metrics:

**Main idea:** get a feel for how the values related to one another.  What's "good"? What's "bad"? If the R<sup>2</sup> is "good", will the MAE also be "good"?

In [8]:
# SSE
(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

In [9]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [10]:
# MSE again
(y_true - y_pred).dot(y_true - y_pred) / len(y_true)

2.7985739564511958

In [14]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

1.672893886787562

In [15]:
# RMSE again
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.6728938867875618

In [18]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [19]:
# R ^ 2
# Wow, what a great prediction ! Why so good? Be suspicious ...
r2_score(y_true, y_pred)

0.9989603259063914

In [20]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

# sMAPE

In [21]:
# sMAPE

def smape(y_true, y_pred):
    numerator = np.abs(y_true - y_pred)
    denominator = ( np.abs(y_true) + np.abs(y_pred) ) / 2
    ratio = numerator / denominator
    return ratio.mean()

smape(y_true, y_pred)

0.006491365814068417